.editor-math-container {
  padding: 15px;
  text-align: center;
  border: solid grey;
  border-width: 1px 3px 1px 3px;
  border-radius: 5px;
}

.editor-p {
  margin: 0!important;
}

.editor-code {
   background: #eee;
   padding: 10px;
   border-radius: 5px;
}

.editor-link-block-container {
  .editor-link-block {
    background: #3578e5;
    border: 1px solid #3578e5;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 1px !important;
  }
  .editor-link-preview {
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 8px;

    .preview-url-container {
      max-width: 350px;
    }
  }
}