.editor-math-container {
  background: #fcfcfc;
  border: solid 1px #eee;
  padding: 15px;
  text-align: center;

  .editor-math-preview {
    position: relative;

    .formula {
      position: absolute;
      width: 100%;
    }
  }
}

.editor-p {
  margin: 0!important;
}

.editor-header {
  font-family: futura-bold;
  font-size: 1.4rem;
}

.editor-code {
  background: #0d101e;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;

  .editor-placeholder-text {
    color: white;
  }
}

.inline-bold {
  font-weight: bold;
}

.inline-italic {
  font-style: oblique;
}

.inline-underline {
  text-decoration: underline;
}

.inline-highlight {
  color: white;
  background: #ad3970;
  padding: 1px 3px 1px 3px;
}

.editor-link-block-container {
  .editor-link-block {
    background: #3D9970;
    font-family: futura-medium;
    color: #141c41;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 1px !important;
  }
  .editor-link-preview {
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 8px;

    .preview-url-container {
      max-width: 350px;
    }
  }
}

// inlines 

.inline-wrapper {
  position: relative; 
}

.inline-wrapper.selected {
  border: 0.5px solid #DAA520;
}

.editor-inline-keyword {
  color: #fd5750;
  font-size: 85%;
  font-family: futura-medium;
}

.editor-inline-math {
  color: #373943;
  font-size: 85%;
  font-family: futura-medium;
}

.editor-inline-code {
  font-size: 85%;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}