.mynote-page-container {
  
}

.mynote-container {
  width: 100%;
  margin: 10px;
}

.mynote-menu-container {
  margin: 10px;
}

.note-header-container {
  margin: 1vw;
}

.note-body-container {
  display: flex;
  flex-direction: row;

  .note-menu-container {
    min-width: 30px;
    margin-right: 1vw;
    margin-top: 1em;

    .note-menu {
      border: 1px solid grey;
      border-radius: 5px;
      text-align: center;
      i {
        padding: 0;
        margin: 0
      }
    }
  }
  
  .note-body {
    flex: 1 auto;
    border-left: 2px solid #85144b;
    padding: 1vw;
  }
}